[defaults]
inventory      = inventory
roles_path     = roles
host_key_checking   = False
display_skipped_hosts = False

[privilege_escalation]
become = True
become_user = root

[ssh_connection]
ssh_args     = -o ControlMaster=auto -o ControlPersist=60s
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
pipelining   = True
