<html>
  <head>
    <title>Welcome to ansible!</title>
  </head>
  <body>
  <h1>nginx server, configured by Ansible playbook</h1>
  <p>If you can see this, Ansible successfully installed nginx.</p>

  <p>Running on {{ inventory_hostname }}, server_hostname: {{ ansible_hostname }}, os_family: {{ ansible_os_family }}</p>
  </body>
</html>
